@import 'maxicon.colors.scss';
@import 'maxicon.spacing.scss';
@import 'maxicon.sizes.scss';
@import  "mixin";

$column_names: ("small": "sm", "medium": "md", "large": "lg", "extralarge": "xs");

body {
  background:$color-neutral--2;
  color: $color-default--text;
  @include font_props(
    map-get($font_sizes, "small"),
    map-get($font_weights, "light")
  );
}

* {
  box-sizing: border-box;
  @include vendors(box-sizing, border-box);
}


a{
  @include transition(all .3s ease);
  text-decoration:none;
}

.content-info a{
  color: $color-info--1;
  
  &:hover{
    color: $color-dark;
  }
}

.card {
	background-color: $color-neutral--1;
	padding: $space-2;
	border-radius: $border-radius;
}

.hoverable {
  @include transition(0.3s all ease-in-out);
  &:hover {
    
    @include transition(0.3s all ease-in-out);
    color: calc(inherited + 10%);
    background-color: calc(inherited + 10%);
    cursor: pointer;
    box-shadow: $elevation--3;
    transform: translateY(-2px);
  }
}

a img { 
    border: $border-size--0;
}

section img{
  display:block;
  max-width:100%;
  height:auto;
  margin: $space-2 $space-0 $space-2 $space-0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
section{
  position:relative;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: map-get($map: $font_sizes, $key: "regular");
  text-rendering: optimizeLegibility;

	&.separator {
		border-bottom: 1px solid $color-neutral--3;
	}
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}
.center-text-div {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 32px;
}

.margin-auto {
  margin: auto;
}

.container {
  padding-right: $space-2;
  padding-left: $space-2;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  border-radius: $border-radius;
}
.container:before, .container:after, .clearfix:before, .row:before, .clearfix:after, .row:after {
  display: table;
  content: " ";
}
.container:after, .clearfix:after, .row:after {
  clear: both;
}
.row {
  margin-right: -$space-2;
  margin-left: -$space-2;
}

@include col_lg_float_left;

@include column_properties($column_names);

@include generate_col_classes(map-get($column_names, "large"));

.center, .btn {
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.btn{
  display:inline-block;
  width:160px;
  height:40px;
  line-height:38px;
	background: $color-info--1;
	@include font_props(
		map-get($font-weights, "regular"),
		map-get($font_sizes, "small")
	);

  &:hover{
    background:calc(#{$color-info--1} + 10%);
  }
}

header{
  margin: $space-0 $space-0 $space-6 $space-0;
  padding: $space-2 $space-0;
  background: nth($maxi, 3);
}
.slogan{
	color: $color-neutral--0;
	@include font_props(
		map-get($font-weights, "light"),
		map-get($font-sizes, "large")
	);
	line-height:34px;
	text-shadow: 1px 1px 6px rgba(8, 8, 8, 0.8);
}
#logo img{
  display:block;
  height:34px;
}

.content-wrap{
  padding: $space-3 $space-0
}

aside{
  color: $color-neutral--0;
  float: left;
  padding-left: $space-2;
  width: 285px;

  h4 {
		@include font_props(
			map-get($font-sizes, "large"),
			map-get($font-weights, "regular")
		);
    margin:$space-0 $space-0 $space-4 $space-0;
  }
}
.fixed{
  position: fixed;
  top: $space-2;
}

.fix-bottom {
  position: absolute;
  bottom : $space-3;
}

.menu-box{
	padding: $space-3 $space-3 0 $space-3;
	background: $color-maxi--3;
	border-radius: $border-radius;
	box-shadow: $elevation--2;

	ul {
    margin:0;
		padding:0;
	}

	li{
		display:block;

		a{
			display:block;
			padding: $space-2 $space-3;
			margin-left: -$space-3;
			margin-right: -$space-3;
			color: $color-neutral--0;

			&.current {
				background: nth($maxi, 1);
			}

			&:hover:not(.current){
				background: nth($maxi, 2);
			}
		}

		&:last-child a{
			border-bottom:0;
			&:hover {
				border-bottom-left-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		
			li {
				display:block;
				
				a {
					display:block;
					padding: $space-2 $space-3;
					margin-left: -$space-3;
					margin-right: -$space-3;
					color: $color-neutral--0;
					border-bottom: $border-size--1 solid #425260;
					
					& {
						background: $color-maxi--2;
					}
		
					.current {
						background: $color-maxi--1;
					}
				}
		
				:last-child a{
					border-bottom:0;
					&:hover {
					border-bottom-left-radius: $border-radius;
					border-bottom-right-radius: $border-radius;
					}
				}
			}
		}
	}
}

.section-txt{
  padding-bottom: $space-2;
  margin-bottom: $space-4;
  border-bottom: $border-size--1 solid $color-neutral--3;
  background-color: $color-neutral--0;
  padding: $space-3 $space-4;
  border-radius: $border-radius;
  box-shadow: $elevation--2;

  &:last-child {
    margin-bottom: $space-0;
    border-bottom: $space-0;
  }
}

.content-info {
	padding-right: $space-2;
	padding-left: calc(300px + #{$space-2});
	
  ul {
    margin: $space-0 $space-0 $space-2 $space-0;

    li {
      line-height:24px;
      font-size: map-get($map: $font-sizes, $key: "regular");
      font-weight: map-get($map: $font-weights, $key: "light");
    }
  }

  iframe {
    width: 100%!important;
    height: 350px;
    border: 0!important;
  }
}

.footer-area{
  margin-top:50px;
  padding: $space-8 $space-0;
  background: #282E34;
  font-size: map-get($map: $font_sizes, $key: "regular");
  line-height:24px;
  color:#fff;
  font-weight: map-get($map: $font_weights, $key: "light");

  a {
    color:#999;
    
    &:hover{
      color:#eee
    }
  }
}

footer{
  background:rgb(27, 32, 37);
  color: #eee;
  padding:20px 0;
  font-weight:300;
  font-size:12px;
}

@media only screen and (max-width: 1200px) {
  .container{ width:970px; }
  .hidden-md{ display:none; }

  @include generate_col_classes("md");
}


@media only screen and (max-width: 992px){
  .container{ width:750px; }
  .hidden-sm{ display:none; }

  @include generate_col_classes("sm");

  .slogan { font-size: 16px; }
  
}

@media only screen and (max-width: 768px){
  .container{ width:100%; }
  .hidden-xs{ display:none; }

  @include generate_col_classes("xs");

  header{ margin-bottom:10px; }
  .content-wrap { padding: 30px 0; }
  .slogan{
    text-align:center;
    line-height:22px;
    margin-bottom:16px;
  }
  #logo {
    text-align:center;
    margin-bottom:16px;
  }
  #logo img{
    margin:0 auto;
  }
  .btn{
    display:block;
    margin:0 auto;
  }
  aside{
    width:100%;
    float:none;
    padding:0 15px;
    margin-bottom:30px;
  }
  .content-info {
    padding: 0 16px;
  }
  .content-info p, .content-info ul li{
    font-size:14px;
    line-height:22px;
  }
  .content-info h3 {
    font-size: 20px;
  }
  
  .footer-area {
    margin-top: 30px;
    padding: 50px 0;
    font-size:14px;
  }
}

h2 {
	transform: translate(-5%, -40%);
	background-color: nth($maxi, 3);
	padding: 20px;
	box-shadow: 6px 6px 6px rgba(50, 50, 50, 0.3);
	color: $color-neutral--2;
}

div.footer-contrast {
	@include font_props(
		map-get($font-sizes, "extralarge"),
		map-get($font-weights, "regular")
	);

	margin-bottom: 20px;
}

div#actionmsg-container, div#actionmsg-container * {
	@include transition(all 0.3s ease 0.1s);
}

div#actionmsg-container, div#actionmsg-container *,
div#actionmsg-container:hover, div#actionmsg-container:hover * {
	opacity: 1;
}

div#actionmsg-container:hover button#close-msg {
	visibility: visible;
}

div#actionmsg-container {
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: rgb(0, 0, 0);
	border-radius: 15px;
	animation: actionmsg_anim 0.5s ease 0.1s;
	animation-fill-mode: forwards;
	cursor: default;
	visibility: hidden;
	display: none;
	opacity: 0;
}

div#actionmsg-container p {
	color: white;
	padding: 0 24px;
}

button#close-msg {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0.1s;
  padding: 4px 4px;
  color: white;
  transform: translate(-10%, -10px);
  visibility: hidden;
  cursor: pointer;
}

button#close-msg:hover {
	background-color: rgb(15, 15, 15);
	color: tomato;
}

@keyframes actionmsg_anim {
	from { 
	  opacity: 0;
	  bottom: -25px;
	}

	to {
		opacity: 0.9;
		bottom: 5px;
	}
}

@import 'maxicon.custom.scss';