$border-radius: 3px;
$border-size--0: 3px;
$border-size--1: 1px;
$border-size--2: 2px;
$elevation--0: none;
$elevation--1: 0 2px 6px rgba(152, 152, 166, 0.25);
$elevation--2: 0 4px 12px rgba(152, 152, 166, 0.25);
$elevation--3: 0 8px 20px rgba(152, 152, 166, 0.25);