body {
  background: #E6E6F0;
  color: #282E34;
  font-size: 14px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

.content-info a {
  color: #2186D9;
}

.content-info a:hover {
  color: #41414A;
}

.card {
  background-color: #F5F5FA;
  padding: 16px;
  border-radius: 3px;
}

.hoverable {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.hoverable:hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: calc(inherited + 10%);
  background-color: calc(inherited + 10%);
  cursor: pointer;
  -webkit-box-shadow: 0 8px 20px rgba(152, 152, 166, 0.25);
          box-shadow: 0 8px 20px rgba(152, 152, 166, 0.25);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

a img {
  border: 3px;
}

section img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 16px 0 16px 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

section {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 16px;
  text-rendering: optimizeLegibility;
}

h1.separator, h2.separator, h3.separator, h4.separator, h5.separator, h6.separator {
  border-bottom: 1px solid #DBDBE8;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.center-text-div {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 32px;
}

.margin-auto {
  margin: auto;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  border-radius: 3px;
}

.container:before, .container:after, .clearfix:before, .row:before, .clearfix:after, .row:after {
  display: table;
  content: " ";
}

.container:after, .clearfix:after, .row:after {
  clear: both;
}

.row {
  margin-right: -16px;
  margin-left: -16px;
}

.col-lg-1 {
  float: left;
}

.col-lg-2 {
  float: left;
}

.col-lg-3 {
  float: left;
}

.col-lg-4 {
  float: left;
}

.col-lg-5 {
  float: left;
}

.col-lg-6 {
  float: left;
}

.col-lg-7 {
  float: left;
}

.col-lg-8 {
  float: left;
}

.col-lg-9 {
  float: left;
}

.col-lg-10 {
  float: left;
}

.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-lg-1 {
  width: 8.33333%;
}

.col-lg-2 {
  width: 16.66667%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: 33.33333%;
}

.col-lg-5 {
  width: 41.66667%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.33333%;
}

.col-lg-8 {
  width: 66.66667%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: 83.33333%;
}

.col-lg-11 {
  width: 91.66667%;
}

.col-lg-12 {
  width: 100%;
}

.center, .btn {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 38px;
  background: #2186D9;
  font-size: 400;
  font-weight: 14px;
}

.btn:hover {
  background: calc(#2186D9 + 10%);
}

header {
  margin: 0 0 48px 0;
  padding: 16px 0;
  background: #282E34;
}

.slogan {
  color: #FFFFFF;
  margin: 0;
  font-size: 300;
  font-weight: 20px;
}

#logo img {
  display: block;
  height: 34px;
}

.content-wrap {
  padding: 24px 0;
}

aside {
  color: #FFFFFF;
  float: left;
  padding-left: 16px;
  width: 285px;
}

aside h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 32px 0;
}

.fixed {
  position: fixed;
  top: 16px;
}

.fix-bottom {
  position: absolute;
  bottom: 24px;
}

.menu-box {
  padding: 24px 24px 0 24px;
  background: #282E34;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 12px rgba(152, 152, 166, 0.25);
          box-shadow: 0 4px 12px rgba(152, 152, 166, 0.25);
}

.menu-box ul {
  margin: 0;
  padding: 0;
}

.menu-box li {
  display: block;
}

.menu-box li a {
  display: block;
  padding: 16px 24px;
  margin-left: -24px;
  margin-right: -24px;
  color: #FFFFFF;
}

.menu-box li a.current {
  background: #5799d3;
}

.menu-box li a:hover:not(.current) {
  background: #3b72a2;
}

.menu-box li:last-child a {
  border-bottom: 0;
}

.menu-box li:last-child a:hover {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.menu-box li:last-child a li {
  display: block;
}

.menu-box li:last-child a li a {
  display: block;
  padding: 16px 24px;
  margin-left: -24px;
  margin-right: -24px;
  color: #FFFFFF;
  border-bottom: 1px solid #425260;
}

.menu-box li:last-child a li a {
  background: #385772;
}

.menu-box li:last-child a li a .current {
  background: #3b72a2;
}

.menu-box li:last-child a li :last-child a {
  border-bottom: 0;
}

.menu-box li:last-child a li :last-child a:hover {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.section-txt {
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #DBDBE8;
  background-color: #FFFFFF;
  padding: 24px 32px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 12px rgba(152, 152, 166, 0.25);
          box-shadow: 0 4px 12px rgba(152, 152, 166, 0.25);
}

.section-txt:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.content-info {
  padding-right: 16px;
  padding-left: calc(300px + 16px);
}

.content-info ul {
  margin: 0 0 16px 0;
}

.content-info ul li {
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
}

.content-info iframe {
  width: 100% !important;
  height: 350px;
  border: 0 !important;
}

.footer-area {
  margin-top: 50px;
  padding: 64px 0;
  background: #282E34;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
}

.footer-area a {
  color: #999;
}

.footer-area a:hover {
  color: #eee;
}

footer {
  background: #1b2025;
  color: #eee;
  padding: 20px 0;
  font-weight: 300;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .hidden-md {
    display: none;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
  .hidden-sm {
    display: none;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .slogan {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .hidden-xs {
    display: none;
  }
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  header {
    margin-bottom: 10px;
  }
  .content-wrap {
    padding: 30px 0;
  }
  .slogan {
    text-align: center;
    line-height: 22px;
    margin-bottom: 16px;
  }
  #logo {
    text-align: center;
    margin-bottom: 16px;
  }
  #logo img {
    margin: 0 auto;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
  aside {
    width: 100%;
    float: none;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .content-info {
    padding: 0 16px;
  }
  .content-info p, .content-info ul li {
    font-size: 14px;
    line-height: 22px;
  }
  .content-info h3 {
    font-size: 20px;
  }
  .footer-area {
    margin-top: 30px;
    padding: 50px 0;
    font-size: 14px;
  }
}

div.footer-contrast {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

div#actionmsg-container, div#actionmsg-container * {
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

div#actionmsg-container, div#actionmsg-container *,
div#actionmsg-container:hover, div#actionmsg-container:hover * {
  opacity: 1;
}

div#actionmsg-container:hover button#close-msg {
  visibility: visible;
}

div#actionmsg-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: black;
  border-radius: 3px;
  -webkit-animation: actionmsg_anim 0.5s ease 0.1s;
          animation: actionmsg_anim 0.5s ease 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: default;
  visibility: hidden;
  display: none;
  opacity: 0;
}

div#actionmsg-container p {
  color: white;
  padding: 0 24px;
}

button#close-msg {
  background-color: black;
  border: none;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  padding: 4px 4px;
  color: white;
  -webkit-transform: translate(-10%, -10px);
          transform: translate(-10%, -10px);
  visibility: hidden;
  cursor: pointer;
}

button#close-msg:hover {
  background-color: #0f0f0f;
  color: tomato;
}

@-webkit-keyframes actionmsg_anim {
  from {
    opacity: 0;
    bottom: -25px;
  }
  to {
    opacity: 0.9;
    bottom: 5px;
  }
}

@keyframes actionmsg_anim {
  from {
    opacity: 0;
    bottom: -25px;
  }
  to {
    opacity: 0.9;
    bottom: 5px;
  }
}

.text-maxi--0 {
  color: #5799d3;
}

.text-maxi--1 {
  color: #3b72a2;
}

.text-maxi--2 {
  color: #385772;
}

.text-maxi--3 {
  color: #282E34;
}

/*Cores*/
/*Maxicon*/
/*Green*/
.text-green--0 {
  color: #6FDCCB;
}

.text-green--1 {
  color: #58C2B4;
}

.text-green--2 {
  color: #3FA99B;
}

.text-green--3 {
  color: #2B9486;
}

/*Yellow*/
.text-yellow--0 {
  color: #FFF6E6;
}

.text-yellow--1 {
  color: #FFE5B3;
}

.text-yellow--2 {
  color: #FFD380;
}

.text-yellow--3 {
  color: #FFC24C;
}

/*Red*/
.text-red--0 {
  color: #FDE5E2;
}

.text-red--1 {
  color: #FAB9B2;
}

.text-red--2 {
  color: #F78D82;
}

.text-red--3 {
  color: #F46152;
}

/*Blue*/
.text-blue--0 {
  color: #606CD2;
}

.text-blue--1 {
  color: #3847C7;
}

.text-blue--2 {
  color: #2D399F;
}

.text-blue--3 {
  color: #232C7B;
}

.text-purple--0 {
  color: #BFA8F0;
}

.text-purple--1 {
  color: #A07CE9;
}

.text-purple--2 {
  color: #8051E1;
}

.text-purple--3 {
  color: #652CDB;
}

/*Background*/
/*Maxicon*/
.bg-maxi--0 {
  background-color: #5799d3;
}

.bg-maxi--1 {
  background-color: #3b72a2;
}

.bg-maxi--2 {
  background-color: #385772;
}

.bg-maxi--3 {
  background-color: #282E34;
}

/*Green*/
.bg-green--0 {
  background-color: #6FDCCB;
}

.bg-green--1 {
  background-color: #58C2B4;
}

.bg-green--2 {
  background-color: #3FA99B;
}

.bg-green--3 {
  background-color: #2B9486;
}

/*Yellow*/
.bg-yellow--0 {
  background-color: #FFF6E6;
}

.bg-yellow--1 {
  background-color: #FFE5B3;
}

.bg-yellow--2 {
  background-color: #FFD380;
}

.bg-yellow--3 {
  background-color: #FFC24C;
}

/*Red*/
.bg-red--0 {
  background-color: #FDE5E2;
}

.bg-red--1 {
  background-color: #FAB9B2;
}

.bg-red--2 {
  background-color: #F78D82;
}

.bg-red--3 {
  background-color: #F46152;
}

/*Blue*/
.bg-blue--0 {
  background-color: #606CD2;
}

.bg-blue--1 {
  background-color: #3847C7;
}

.bg-blue--2 {
  background-color: #2D399F;
}

.bg-blue--3 {
  background-color: #232C7B;
}

.bg-purple--0 {
  background-color: #BFA8F0;
}

.bg-purple--1 {
  background-color: #A07CE9;
}

.bg-purple--2 {
  background-color: #8051E1;
}

.bg-purple--3 {
  background-color: #652CDB;
}

.text-success--0 {
  color: #DEF8E9;
}

.bg-success--0 {
  background-color: #DEF8E9;
}

.text-success--1 {
  color: #1E854A;
}

.bg-success--1 {
  background-color: #1E854A;
}

.text-info--0 {
  color: #E9F3FC;
}

.bg-info--0 {
  background-color: #E9F3FC;
}

.text-info--1 {
  color: #2186D9;
}

.bg-info--1 {
  background-color: #2186D9;
}

.text-warning--0 {
  color: #FBFBBE;
}

.bg-warning--0 {
  background-color: #FBFBBE;
}

.text-warning--1 {
  color: #CB9303;
}

.bg-warning--1 {
  background-color: #CB9303;
}

.text-danger--0 {
  color: #FCEAE9;
}

.bg-danger--0 {
  background-color: #FCEAE9;
}

.text-danger--1 {
  color: #CB3530;
}

.bg-danger--1 {
  background-color: #CB3530;
}

.text-color-default {
  color: #282E34;
}

.bg-color-default {
  background-color: #eaedf2;
}

.text-white {
  color: #FFFFFF;
}

.text-dark {
  color: #41414A;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-dark {
  background-color: #41414A;
}

.text-neutral--0 {
  color: #FFFFFF;
}

.text-neutral--1 {
  color: #F5F5FA;
}

.text-neutral--2 {
  color: #E6E6F0;
}

.text-neutral--3 {
  color: #DBDBE8;
}

.text-neutral--4 {
  color: #D3D3E2;
}

.text-neutral--5 {
  color: #C5C5D6;
}

.text-neutral--6 {
  color: #A9A9B8;
}

.text-neutral--7 {
  color: #9898A6;
}

.text-neutral--8 {
  color: #6B6B78;
}

.text-neutral--9 {
  color: #41414A;
}

.bg-neutral--0 {
  background-color: #FFFFFF;
}

.bg-neutral--1 {
  background-color: #F5F5FA;
}

.bg-neutral--2 {
  background-color: #E6E6F0;
}

.bg-neutral--3 {
  background-color: #DBDBE8;
}

.bg-neutral--4 {
  background-color: #D3D3E2;
}

.bg-neutral--5 {
  background-color: #C5C5D6;
}

.bg-neutral--6 {
  background-color: #A9A9B8;
}

.bg-neutral--7 {
  background-color: #9898A6;
}

.bg-neutral--8 {
  background-color: #6B6B78;
}

.bg-neutral--9 {
  background-color: #41414A;
}
/*# sourceMappingURL=maxicon.styles.css.map */