// css/maxicon.colors.scss
$color-maxi--0: #5799d3;
$color-maxi--1: #3b72a2;
$color-maxi--2: #385772;
$color-maxi--3: #282E34;
$color-green--0: #6FDCCB;
$color-green--1: #58C2B4;
$color-green--2: #3FA99B;
$color-green--3: #2B9486;
$color-yellow--0: #FFF6E6;
$color-yellow--1: #FFE5B3;
$color-yellow--2: #FFD380;
$color-yellow--3: #FFC24C;
$color-red--0: #FDE5E2;
$color-red--1: #FAB9B2;
$color-red--2: #F78D82;
$color-red--3: #F46152;
$color-blue--0: #606CD2;
$color-blue--1: #3847C7;
$color-blue--2: #2D399F;
$color-blue--3: #232C7B;
$color-purple--0: #BFA8F0;
$color-purple--1: #A07CE9;
$color-purple--2: #8051E1;
$color-purple--3: #652CDB;
$color-default--bg: #eaedf2;
$color-default--text: #282E34;
$color-success--0: #DEF8E9;
$color-success--1: #1E854A;
$color-danger--0: #FCEAE9;
$color-danger--1: #CB3530;
$color-info--0: #E9F3FC;
$color-info--1: #2186D9;
$color-warning--0: #FBFBBE;
$color-warning--1: #CB9303;
$color-white: #FFFFFF;
$color-dark: #41414A;
$color-neutral--0: #FFFFFF;
$color-neutral--1: #F5F5FA;
$color-neutral--2: #E6E6F0;
$color-neutral--3: #DBDBE8;
$color-neutral--4: #D3D3E2;
$color-neutral--5: #C5C5D6;
$color-neutral--6: #A9A9B8;
$color-neutral--7: #9898A6;
$color-neutral--8: #6B6B78;
$color-neutral--9: #41414A;

$maxi : ($color-maxi--0, $color-maxi--1, $color-maxi--2, $color-maxi--3);
$green : ($color-green--0, $color-green--1, $color-green--2, $color-green--3);
$yellow : ($color-yellow--0, $color-yellow--1, $color-yellow--2, $color-yellow--3);
$red : ($color-red--0, $color-red--1, $color-red--2, $color-red--3);
$blue : ($color-blue--0, $color-blue--1, $color-blue--2, $color-blue--3);
$purple : ($color-purple--0, $color-purple--1, $color-purple--2, $color-purple--3);
$neutral : (
  $color-neutral--0,
  $color-neutral--1,
  $color-neutral--2,
  $color-neutral--3,
  $color-neutral--4,
  $color-neutral--5,
  $color-neutral--6,
  $color-neutral--7,
  $color-neutral--8,
  $color-neutral--9
);