@import 'maxicon.colors.scss';

.text-maxi--0 {
  color: $color-maxi--0;
}

.text-maxi--1 {
  color: $color-maxi--1;
}
.text-maxi--2 {
  color: $color-maxi--2;
}
.text-maxi--3 {
  color: $color-maxi--3;
}

/*Cores*/
/*Maxicon*/



/*Green*/
.text-green--0 {
  color: $color-green--0;
}
.text-green--1 {
  color: $color-green--1;
}
.text-green--2 {
  color: $color-green--2;
}
.text-green--3 {
  color: $color-green--3;
}

/*Yellow*/
.text-yellow--0 {
  color: $color-yellow--0;
}
.text-yellow--1 {
  color: $color-yellow--1;
}
.text-yellow--2 {
  color: $color-yellow--2;
}
.text-yellow--3 {
  color: $color-yellow--3;
}

/*Red*/
.text-red--0 {
  color: $color-red--0;
}
.text-red--1 {
  color: $color-red--1;
}
.text-red--2 {
  color: $color-red--2;
}
.text-red--3 {
  color: $color-red--3;
}

/*Blue*/
.text-blue--0 {
  color: $color-blue--0;
}
.text-blue--1 {
  color: $color-blue--1;
}
.text-blue--2 {
  color: $color-blue--2;
}
.text-blue--3 {
  color: $color-blue--3;
}

.text-purple--0 {
  color: $color-purple--0;
}
.text-purple--1 {
  color: $color-purple--1;
}
.text-purple--2 {
  color: $color-purple--2;
}
.text-purple--3 {
  color: $color-purple--3;
}

/*Background*/

/*Maxicon*/
.bg-maxi--0 {
  background-color: $color-maxi--0;
}
.bg-maxi--1 {
  background-color: $color-maxi--1;
}
.bg-maxi--2 {
  background-color: $color-maxi--2;
}
.bg-maxi--3 {
  background-color: $color-maxi--3;
}
/*Green*/
.bg-green--0 {
  background-color: $color-green--0;
}
.bg-green--1 {
  background-color: $color-green--1;
}
.bg-green--2 {
  background-color: $color-green--2;
}
.bg-green--3 {
  background-color: $color-green--3;
}

/*Yellow*/
.bg-yellow--0 {
  background-color: $color-yellow--0;
}
.bg-yellow--1 {
  background-color: $color-yellow--1;
}
.bg-yellow--2 {
  background-color: $color-yellow--2;
}
.bg-yellow--3 {
  background-color: $color-yellow--3;
}

/*Red*/
.bg-red--0 {
  background-color: $color-red--0;
}
.bg-red--1 {
  background-color: $color-red--1;
}
.bg-red--2 {
  background-color: $color-red--2;
}
.bg-red--3 {
  background-color: $color-red--3;
}


/*Blue*/
.bg-blue--0 {
  background-color: $color-blue--0;
}
.bg-blue--1 {
  background-color: $color-blue--1;
}
.bg-blue--2 {
  background-color: $color-blue--2;
}
.bg-blue--3 {
  background-color: $color-blue--3;
}

.bg-purple--0 {
  background-color: $color-purple--0;
}
.bg-purple--1 {
  background-color: $color-purple--1;
}
.bg-purple--2 {
  background-color: $color-purple--2;
}
.bg-purple--3 {
  background-color: $color-purple--3;
}

.text-success--0 {
  color: $color-success--0;
}
.bg-success--0 {
  background-color: $color-success--0;
}

.text-success--1 {
  color: $color-success--1;
}
.bg-success--1 {
  background-color: $color-success--1;
}

.text-info--0 {
  color: $color-info--0;
}
.bg-info--0 {
  background-color: $color-info--0;
}

.text-info--1 {
  color: $color-info--1;
}
.bg-info--1 {
  background-color: $color-info--1;
}

.text-warning--0 {
  color: $color-warning--0;
}
.bg-warning--0 {
  background-color: $color-warning--0;
}

.text-warning--1 {
  color: $color-warning--1;
}
.bg-warning--1 {
  background-color: $color-warning--1;
}


.text-danger--0 {
  color: $color-danger--0;
}
.bg-danger--0 {
  background-color: $color-danger--0;
}

.text-danger--1 {
  color: $color-danger--1;
}
.bg-danger--1 {
  background-color: $color-danger--1;
}

.text-color-default {
  color: $color-default--text;
}
.bg-color-default {
  background-color: $color-default--bg;
}

.text-white {
  color: $color-white;
}
.text-dark {
  color: $color-dark;
}

.bg-white {
  background-color: $color-white;
}
.bg-dark {
  background-color: $color-dark;
}